<app-header></app-header>

<main class="container">


    <div class="row">
      <div class="col-md-4">

        <app-aside></app-aside>

      </div>
      <div class="col-md-8">
          
        <div>
          <h1>Product List</h1>


          
          <ul class="list-group" *ngIf='products'>
            <li class="list-group-item" *ngFor='let product of products'>
              <div class="card">
                <a [routerLink]="['/products', product.id]"><img class="card-img-top" src="https://placehold.co/286x180" alt="Card image cap"></a>
                <div class="card-body">
                  <h5 class="card-title"><a [routerLink]="['/products', product.id]">{{ product.product.name }} - {{ product.name }}</a></h5>
                  <p class="card-text" *ngIf='product.excerpt' >{{ product.excerpt }}</p>
                </div>
              </div>
            </li>
          </ul>



        </div>

      </div>
    </div>


</main>

<app-footer></app-footer>